.tag {
  @extend .state;
  @extend .label-info;
  margin-right: 10px;
  a {
    color: white;
    &.remove {
      font-family: "FontAwesome";
      @extend .fa-close;
      margin-right: 0.5em;
      text-decoration: none;
    }
  }
}
